@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&family=Righteous&family=Ysabeau+SC:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Poppins:wght@200;400;600&family=Righteous&family=Ysabeau+SC:wght@600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
:root{
    --primary-color:black;
    --secondary-color:white;
    --info-color:#e8e5e5fd;
}
body{
    font-family:"poppins" ;
    color:black;
    /* background-color: #7707f7; */
}

/* <---utiltiy class---> */
.container{
    max-width: 1180px;
    margin-inline:auto;
    padding-inline: 20px;
}
.flex{
    display:flex;
    align-items: center;
}
/* end here */

/* <---navbar---> */
/* header{
    /* background-color: #7707f7;
 } */
header{
    background-color: #7707f7;
    /* height: 15%; */
    padding-top: 10px;
    padding-bottom: 20px;
}
nav{
    justify-content: space-between;
    margin-top: 20px;
}
ul{
    list-style: none;
    justify-content: center;
    gap: 40px;
}
ul>li>a{
    text-decoration: none;
    color:var(--secondary-color);
}
.hovereffect:hover{
    border-bottom: 3px solid rgb(252, 251, 251);
    transition: 0.2s ;
}
.website-navbar-logo{
    justify-content: flex-start;

}
.website-navbar-logo>h2{
    color:var(--secondary-color);
    font-size: 2.1em;
    font-family: 'Bubblegum Sans', cursive;
}
.navbar-contact-info{
    justify-content: flex-end;
    gap:30px;
}
.navbar-contact-info>a{
 text-decoration: none;
 color:var(--secondary-color);
 font-size: 25px;
}
.navbar-contact-info a .fa-instagram:hover{
    color:#b42281;
    transition: 0.5s;
    font-size: 25px;
}
.navbar-contact-info a .fa-facebook:hover{
    color:#56a0e1;
    transition: 0.5s;
    font-size: 25px;
}
.navbar-contact-info a .fa-github:hover{
    color:#2a292a;
    transition: 0.5s;
    font-size: 25px;
}

/* <---home page---> */
main{
    background-color: #7707f7;
}
.mainpage{
    justify-content:space-between;
    margin-top: 3px;
}
.aboutuser{
    justify-content:flex-start;
}
.aboutuser>h1{
  font-size:2.5rem;
  font-family: 'Bubblegum Sans', cursive;
  color: var(--secondary-color);
  font-weight: 500;
}
.aboutuser>p{
    text-align: justify;
    /* color:var(--info-color); */
    color:#e9e7e7fe;
    margin-right: 250px;
    margin-top:12px;
}
input{
    padding: 10px;
    margin-top:20px ;
    color:#7707f7;
    font-family:" poppins";
    font-weight: 800;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
    
}
input:hover{
    border: 2px solid #efecf2;
    color:black;
    transition: 0.5s ease;
}

.userphoto>img{
    width:450px;
    justify-content: flex-end;
    z-index: 2;
    position: relative;
}
#Backgrounduser{
    z-index:1;
    position: absolute;
    filter:blur(3px);
    --webkit-filter:blur(2px); 
    right:200px;
    top:120px;
    width:400px;
}
.secondpage{
    margin-top:3px;
    height: 100vh;
}
.upper-part-of-secondpage{
    justify-content:space-between ;
    padding-top: 30px;
}
.upper-part-of-secondpage .left-upper-part-of-secondpage p{
    color:var(--info-color);
    font-size: 1.3em;
}
.upper-part-of-secondpage .left-upper-part-of-secondpage h1{
    color:var(--primary-color);
    font-size: 2em;
    line-height:2.4rem;
}

.upper-part-of-secondpage .right-upper-part-of-secondpage {
    width:40%;
    margin-right: 70px;

}
.upper-part-of-secondpage .right-upper-part-of-secondpage p{
   text-align:justify;

}
.content-of-lower-part-of-secondpage{
    /* justify-content: space-between; */
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 100px;
    margin-left: 40px;
}
.contentbox1-of-lower-part-of-secondpage i{
     padding: 15px;
     border: 2px solid  #b2afaf;
     font-size: 2.5em;
}
.contentbox1-of-lower-part-of-secondpage h1{
   margin-block: 20px;
}
.contentbox1-of-lower-part-of-secondpage p{
    width:60%;
}
.contentbox2-of-lower-part-of-secondpage i{
    padding: 15px 23px;
    border: 2px solid #b2afaf;
    font-size: 2.5em;
}
.contentbox2-of-lower-part-of-secondpage h1{
  margin-block: 20px;
}
.contentbox2-of-lower-part-of-secondpage p{
   width:60%;
}
.contentbox3-of-lower-part-of-secondpage i{
    padding:  15px;
    padding-top: 20px;
    border: 2px solid  #b2afaf;
    font-size: 2.5em;
}
.contentbox3-of-lower-part-of-secondpage h1{
  margin-block: 20px;
}
.contentbox3-of-lower-part-of-secondpage p{
   width:70%;
   margin-right: 10px;
}



